<table class="tx-stars" >
	<tr>
		<td>
			<f:translate key="tx_stars_domain_model_rating.object" />
		</td>
		<td>
			{rating.object}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_stars_domain_model_rating.object_id" />
		</td>
		<td>
			{rating.objectId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_stars_domain_model_rating.ip" />
		</td>
		<td>
			{rating.ip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_stars_domain_model_rating.vote" />
		</td>
		<td>
			{rating.vote}
		</td>
	</tr>
</table>